html {
    font-size: 16px;
    font-family: monospace;
    text-align: center;
}

body {
    min-width: 100vw;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.profile {
    border-radius: 50%;
    max-width: 10rem;
    height: auto;
}

.title {
    font-family: monospace;
    font-weight: bold;
    font-size: 5rem;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
}

.links-container {
    display: block;
    gap: 1rem;
}